::-webkit-input-placeholder{color:#bebdbd;opacity:1!important}
:-moz-placeholder{color:#bebdbd;opacity:1!important}
::-moz-placeholder{color:#bebdbd;opacity:1!important}
:-ms-input-placeholder{color:#bebdbd;opacity:1!important}
.login_signup_bg{background:url(../images/login_signup_bg.jpg) ;width:100%;padding:30px 0 50px}
#UserRegisterForm .error-message{background:none repeat scroll 0 0 rgba(0,0,0,0)!important;color:red;margin:-15px 0 15px;text-align:left}
#UserRegisterForm .password{width:48%;float:left}
#UserRegisterForm .f_pwd{padding:0 15px 0 0}
.login-warrper{width:1130px;margin:auto}
.fl{float:left}
.fr{float:right}
.login_bg{background-color:#fff;width:450px;padding:30px;text-align:center;color:#4c4c4c;float:left;border-radius:3px;-moz-border-radius:3px;-webkit-border-radius:3px;box-sizing:border-box;-moz-box-sizing:border-box;-webkit-box-sizing:border-box}
.login_bg h1{font-size:30px;font-weight:400;margin:0;padding:0 0 10px}
.heading_bottom{color:#a4a2a2}
.heading_bottom a{color:#fd09de}
.heading_bottom a:hover{color:#9bbc15}
.social_media{padding:20px 0; width:235px; margin: auto;}
.social_media a{margin:0 5px}

/*.login_bg input.social_textbox{border:solid 1px #ddd;padding:15px;margin-bottom:20px;color:#333;font-size:18px;
                               border-radius:3px;-moz-border-radius:3px;-webkit-border-radius:3px;box-sizing:border-box;-moz-box-sizing:border-box;-webkit-box-sizing:border-box
}

.login_bg input.social_Drop{border:solid 1px #ddd;padding:15px;width:100px;height:40px;margin-bottom:20px;color:#333;font-size:18px;
                               border-radius:3px;-moz-border-radius:3px;-webkit-border-radius:3px;box-sizing:border-box;-moz-box-sizing:border-box;-webkit-box-sizing:border-box}

.login_bg input.social_checkbox{border:solid 1px #ddd;padding:15px;margin-bottom:20px;color:#333;font-size:18px;
                               border-radius:3px;-moz-border-radius:3px;-webkit-border-radius:3px;box-sizing:border-box;-moz-box-sizing:border-box;-webkit-box-sizing:border-box}



.login_bg input.social_textarea{border:solid 1px #ddd;padding:15px;margin-bottom:20px;color:#333;font-size:18px;height: 250px; width: 95%;
                               border-radius:3px;-moz-border-radius:3px;-webkit-border-radius:3px;box-sizing:border-box;-moz-box-sizing:border-box;-webkit-box-sizing:border-box
}*/

.login_bg input.social_textbox{border:solid 1px #ddd;padding:5px;margin-bottom:5px;color:#333;font-size:15px;
                               border-radius:2px;-moz-border-radius:2px;-webkit-border-radius:2px;box-sizing:border-box;-moz-box-sizing:border-box;-webkit-box-sizing:border-box
}

.login_bg input.social_Drop{border:solid 1px #ddd;padding:5px;width:100px;height:40px;margin-bottom:5px;color:#333;font-size:15px;
                               border-radius:2px;-moz-border-radius:2px;-webkit-border-radius:2px;box-sizing:border-box;-moz-box-sizing:border-box;-webkit-box-sizing:border-box}

.login_bg input.social_checkbox{border:solid 1px #ddd;padding:5px;margin-bottom:5px;color:#333;font-size:18px;
                               border-radius:2px;-moz-border-radius:2px;-webkit-border-radius:2px;box-sizing:border-box;-moz-box-sizing:border-box;-webkit-box-sizing:border-box}

.login_bg input.social_textarea{border:solid 1px #ddd;padding:5px;margin-bottom:5px;color:#333;font-size:15px;height: 250px; width: 95%;
                               border-radius:3px;-moz-border-radius:3px;-webkit-border-radius:3px;box-sizing:border-box;-moz-box-sizing:border-box;-webkit-box-sizing:border-box
}


.login_bg input.green_btn{width:100%;color:#fff;font-size:18px;font-weight:700;background-color:#04677C;border:none;height:58px;cursor:pointer;margin-bottom:20px;text-shadow:1px 1px 0 #000;-moz-text-shadow:1px 1px 0 #000;-webkit-text-shadow:1px 1px 0 #000;border-radius:3px;-moz-border-radius:3px;-webkit-border-radius:3px;box-sizing:border-box;-moz-box-sizing:border-box;-webkit-box-sizing:border-box}
.login_bg input.green_btn:hover{background-color:#819d0e}
.login_content{width:675px;text-align:center;font-size:24px;padding-top:50px;float:right}
.login_content .white_heading{color:#fff;margin-bottom:50px}
.login_content .white_heading h2{color:#fff;font-size:48px;font-weight:400;margin:0;padding:0}
.login_content .black_heading{color:#0b0b0b;margin:0 0 50px}
.login_content .invite_friends{color:#030303;font-size:18px}
.login_content .invite_friends a{color:#030303}
.login_content .invite_friends a:hover{color:#000}
.signup_section .login_bg{margin:auto;float:none;width:470px}
.signup_section .login_bg .heading_bottom{font-size:14px}
.signup_section .login_bg .heading_bottom a{color:#00b5d9}
.signup_section .login_bg .heading_bottom a:hover{color:#058da8}
#UserLoginForm, #UserRegisterForm{ padding-top:10px;}
.social_media span{ float:left; margin-top:25px; color:#a4a2a2;}
.or{ color:#a4a2a2;}
@media only screen and (min-width:991px) and (max-width:1129px) {
.login-warrper{width:90%}
.login_bg{width:35%}
.login_content{width:60%}
.signup_section .login_bg{width:470px}
}
@media only screen and (min-width:768px) and (max-width:990px) {
.login-warrper{width:90%}
.login_bg{width:35%}
.login_content{width:60%;font-size:22px}
.login_content .white_heading h2{font-size:42px}
.signup_section .login_bg{width:470px}
}
@media all and (max-width: 767px) {
.login-warrper{width:94%}
.login_bg{width:100%;float:none}
.login_content{width:100%;float:none;font-size:22px}
.login_content .white_heading h2{font-size:42px}
.signup_section .login_bg{width:100%}
#UserRegisterForm .password{width:100%;float:left}
}
@media all and (max-width: 320px) {
.login_bg{padding:10px}
#UserRegisterForm .password{width:100%;float:left}
}



#gn_login_pop .login_bg {text-align: center;width: 100%; padding: 40px 30px 30px}
#gn_login_pop .heading_bottom { color: #a4a2a2; margin: 0 0 15px}